#bento-box {
	display: grid;
    grid-template-columns: 111px 185px 100px;
    grid-template-rows: 78px 102px 200px 120px;
    /* grid-auto-columns:   minmax(400px, auto); */
	/* grid-auto-rows: minmax(400px, auto) */
	grid-template-areas: 
    "fish-flag fish-flag vase-short"
    "map map vase-short"
    "vase-tall bamboo bamboo"
    "vase-tall quadropus quadropus";
}

#fish-flag {
	grid-area: fish-flag;
}

#map {
	grid-area: map;
} 

#vase-short {
	grid-area: vase-short;
}

#vase-tall {
	grid-area: vase-tall;
} 

#bamboo {
	grid-area: bamboo;
}

#quadropus {
	grid-area: quadropus;
} 
